[2016-01-28 09:39] Quramy opened #1 "process file which includes 'composes:'."

[2016-01-28 11:59] #1 closed

[2016-05-18 16:42] AppShipIt opened #2 "WebPack loader"
Have you consider making this a WebPack loader so it can work on any transformed CSS (we're using cssnext)?

[2016-05-19 00:59] Quramy commented on #2
Hi @AppShipIt . I don't plat it for now.

I created this tool to help TypeScript coding. It means that I need *.css.d.ts before bundling my app.

[2016-05-19 01:02] AppShipIt commented on #2
That's what we're doing too it's just not vanilla CSS. I'll close and get around to it myself eventually 👍

[2016-05-19 01:02] #2 closed

[2016-05-20 10:49] olegstepura commented on #2
Hi! FYI: I've written a simple webpack loader: https://www.npmjs.com/package/typed-css-modules-loader

[2016-05-20 12:05] AppShipIt commented on #2
I'll give it a try within the next few days 🙌

[2016-05-25 06:33] andersekdahl opened #4 "Feature request: expose hook to resolve imports/composes"
When using this module with Webpack I get an error because `typed-css-modules` tries to resolve an import/composes path but we have custom path handling in Webpack so `typed-css-modules` won't be able to resolve it.

Would you mind exposing a hook to let the user of the module resolve paths?

[2016-05-25 07:40] Quramy commented on #4
Hi @andersekdahl

I can't imagine your directory structure and configuration of Webpack, so I can't grasp the feature you request... Please send me your repository or gist.

[2016-05-25 07:46] andersekdahl commented on #4
Can't give you the repo since it's private unfortunately, but what we have is for example a directory structure like this:
[code]

Then we have a Webpack resolve alias for `Styles` to that folder, so in `/Features/MyFeature/MyFile.scss` I can do `composes: something from 'styles/objects.scss` and Webpack will find it. But since `typed-css-modules` don't know about the resolve alias it will fail tr

[2016-05-25 08:20] Quramy commented on #4
Ok, I got it. I'll consider the feature to customize the path resolver.

[2016-05-25 08:22] andersekdahl commented on #4
Thanks! Another option for us since we use Webpack is to be able to tell `typed-css-modules` to ignore references inside a file since Webpack will handle that for us.

[2016-05-25 08:49] Quramy commented on #4
Your another option seems good !(And it seems easy to implement rather than custom resolver).

[2016-05-26 06:46] andersekdahl commented on #4
Just tried the new release, and the errors are gone which is nice. But it seems that no `*.d.ts` is created for the files containing a `composes` that `typed-css-modules` can't find. Is that correct? In that case I apologize, what I was looking for was to still generate the `*.d.ts` file but to ignore any invalid paths inside it.

So if I have:
[code]
I'd still want a `myfile.scss.d.ts` file conta

[2016-05-26 06:50] Quramy commented on #4
thanks for your feedback. I'll check that typed-css-modules works as you want.

[2016-05-26 07:01] Quramy commented on #4
@andersekdahl , I've add a test case for checking your issue at 0e7767b . And typed-css-modules creates the following .d.ts and I think it works as you intend:

[code]

[2016-05-26 07:21] andersekdahl commented on #4
Thanks for the quick reply! I'll dig a little deeper to see if the error is on my side.

[2016-05-26 08:04] andersekdahl opened #5 "Feature request: Add content parameter to DtsCreator.create"
We use Webpack to build our css and we want to use `typed-css-modules` to create type definitions for it. But we also use scss and `typed-css-modules` fails on scss specific syntax which makes this promise fail: https://github.com/Quramy/typed-css-modules/blob/master/src/dtsCreator.js#L94 with a `CssSyntaxError` and `Unknown word` for thinks like `max-height: #{$base-line-height * $line-count}rem;

[2016-05-26 08:05] andersekdahl commented on #4
I've tracked down the issue and created another issue about it: #5

[2016-05-26 08:19] Quramy commented on #5
@andersekdahl . I got what you want. And I don't know how do I add implement this feature. I come up with the following options:

1. Re-implement this feature as some post-css plugin. post-css ecosystem has SASS parse and css modules plugin. But I'm not familier with post-css's plugin development...
2. Add feature to input from stream pipe which is created by lib-sass for example.

Do you have any

[2016-05-26 08:53] andersekdahl commented on #5
For our use case you don't have to care about sass at all. The only thing we need is to be able to pass in the contents of the file passed to `DtsCreator.create()`. That is, instead of just passing in the path and having `typed-css-modules` read the contents of the file, we pass the path and the contents and `typed-css-modules` will just use that content to parse instead of reading the file.

[2016-05-26 09:26] Quramy commented on #5
https://github.com/Quramy/typed-css-modules/commit/a855de4b3f1514c4780a677f87531449531cb5aa#diff-04c6e90faac2675aa89e2176d2eec7d8R115

How about this?

[2016-05-26 09:35] andersekdahl commented on #5
Haven't tested it, but it looks exactly like what we want!

[2016-05-31 06:09] andersekdahl commented on #5
Tried it now, works like a charm! Thank you!

[2016-05-31 06:09] #5 closed

[2016-05-31 06:48] andersekdahl opened #6 "Use `os.EOL` instead of `\n`"
This line:
https://github.com/Quramy/typed-css-modules/blob/master/src/dtsCreator.js#L40

explicitly uses `\n` instead of `require('os').EOL` which makes all * .d.ts files show up as modified for us.

Could you change it to `require('os').EOL` instead?

[2016-05-31 06:49] Quramy commented on #6
Ok, please wait a minute...

[2016-05-31 07:00] Quramy commented on #6
Please check it out ;)

[2016-05-31 07:25] andersekdahl commented on #6
Works great, thanks! And thanks for your super fast replies!

[2016-05-31 07:25] #6 closed

[2016-06-24 20:55] athyuttamre opened #7 "Outdated dependencies"
Installing the modules gives me a few dependency warnings, that could be fixed:

[code]

[2016-06-24 22:11] athyuttamre commented on #2
@AppShipIt did you ever get it working? I'm using css-next with TypeScript and this too.

[2016-06-24 22:15] AppShipIt commented on #2
https://github.com/olegstepura/typed-css-modules-loader/issues/1#issuecomment-223379638: TL;DR I think `typed-css-modules` needs to be a PostCSS plugin (it's a dependency anyway) to play nice with other tools.

[2016-06-26 01:21] athyuttamre commented on #2
@AppShipIt Actually, I was able to make it work with PostCSS and any other loader.

What you want to do is put this loader between `css-loader` and all other loaders (`postcss`, `sass` etc.) That way the later loaders will process your files, generating plain CSS, then this loader will generate the `.d.ts` files, then `css-loader` will do its job.

Here's what my setup looks like:

[code]

[code]

[2016-06-26 01:23] athyuttamre commented on #2
The one issue I'm running into is that the file creation is asynchronous. The implication is that when you create a new file, its possible that the TypeScript compiler runs before the `.d.ts` files are generated, which makes the compiler complain. The next time webpack runs everything is ok, but there's an error the first time after a new file is created.

[2016-06-26 02:04] athyuttamre opened #8 "Synchronously create files"
Is there a way to synchronously create the .d.ts files? I'm using this module with webpack and need to generate these files before I run the TypeScript compiler.

[2016-06-26 02:23] athyuttamre commented on #8
Hmm, never mind, even synchronously creating files doesn't seem to be fixing my issue (I hardcoded the output and tried it out.) Would be nice to have the option though!

[2016-06-26 04:26] athyuttamre commented on #2
Actually, I'll take that back. The issue still holds, but probably isn't because of synchronous/asynchronous file generation. It probably has something to do with webpack's conception of the filesystem i.e. if you generate a file using a loader, subsequent loaders don't know about it until the next time webpack runs.

[2016-06-27 08:28] olegstepura commented on #2
@athyuttamre > The one issue I'm running into is that the file creation is asynchronous. The implication is that when you create a new file, its possible that the TypeScript compiler runs before the .d.ts files are generated, which makes the compiler complain. The next time webpack runs everything is ok, but there's an error the first time after a new file is created.

I experience the same issue

[2016-06-29 05:43] athyuttamre commented on #2
Yep, looks like we're in the same boat @olegstepura. I'll post here if I figure it out though!

My plan is to see if I can hijack the `_compiler` or `_compilation` object and modify the filesystem in there. That way we can put our CSS loaders in `preLoaders`, which will add the new type definitions into the filesystem cache. Then in actual loaders when TS compiler runs, it'll see the files existin

[2016-06-29 05:45] texastoland commented on #2
I [still suspect](https://github.com/olegstepura/typed-css-modules-loader/issues/1#issuecomment-223379638) this needs to a PostCSS plugin instead of wrapping it. I'd be happy to help and test.

[2016-06-29 05:48] athyuttamre commented on #2
@texastoland it should be pretty easy to make a PostCSS plugin out of this, but I don't follow why it must be one. In fact, if I want to run my PostCSS output through some other loaders (say, `sass` for example), and *then* generate type definitions, I wouldn't be able to do that if it was a PostCSS plugin. The current approach works better since you can put this loader at any point in your loader

[2016-06-29 05:56] texastoland commented on #2
Sounds like you know better than me! Do you have a fork I can plug into our build at work? WIP is okay.

[2016-06-29 07:34] olegstepura commented on #2
Hi, guys! I just found some other approach by @Jimdo https://github.com/Jimdo/typings-for-css-modules-plugin
Didn't test it yet, but seems like it's more than a simple plugin.

[2016-06-29 07:41] texastoland commented on #2
This make a lot of sense I'll try it ASAP thanks for looking out @olegstepura 🙌

[2016-06-29 07:49] athyuttamre commented on #2
Very interesting, great find @olegstepura! I'll try it first thing tomorrow morning.

Perhaps the author @timse could let us know if our issues can be solved by their plugin.

[2016-06-29 08:45] timse commented on #2
Howdy! :)

Honestly I'm not sure if my solution is in any way a better idea.
And i must admit i was looking into the `typed-css-modules` but did not here to try the loader.

How the plugin works is that is actually expects `css-loader` to be in the loader chain and then uses the output of css-loader (which relies on post-css internally) to produce the CSS module and then generates typings from tha

[2016-06-29 10:18] olegstepura commented on #2
@timse

-> const styles = require('somestyles.css');

-> import styles from 'somestyles.css';

this seem to be the same issue we're experiencing with the loader approach. For me new `.css` file does not get a `.d.ts` until I reload the project.

[2016-06-29 15:33] texastoland commented on #2
A problem I see with this approach is `extract-text-webpack-plugin` bypasses `css-loader` ([here](https://github.com/webpack/extract-text-webpack-plugin/blob/2db50ee6279270e7f74319b22ad87fced150851a/index.js#L134) and [here](https://github.com/webpack/extract-text-webpack-plugin/blob/2db50ee6279270e7f74319b22ad87fced150851a/loader.js#L30)).

[2016-06-29 23:37] texastoland commented on #2
Relevant issues:
https://github.com/Microsoft/TypeScript/issues/6508#issuecomment-224428750
https://github.com/Microsoft/TypeScript/issues/9017

[2016-06-30 07:54] olegstepura commented on #2
@texastoland I didn't test it yet. Doesn't seem to be a good solution. In my setup I just need to press enter in console where app is running to fully restart it. So in my case it maybe even faster to restart then to write `require` and then replace it with `import`.

[2016-06-30 07:56] olegstepura commented on #2
export default styles;```
Great idea!

I cannot understand. What's the benefit?

[2016-06-30 12:59] olegstepura commented on #2
@texastoland how's your test of Jimdo/typings-for-css-modules-plugin ?
Did you find it as a better approach?

[2016-06-30 14:39] texastoland commented on #2
I decided not to test because retyping imports wouldn't work for our team and sequential builds wouldn't work with CI.

[2016-07-03 02:02] athyuttamre commented on #2
Hmm, I don't seem to have to retype imports at all.

If you use TypeScript with `--target es5 --module commonjs`, then TypeScript resolves the ES6 module imports into standard require imports. webpack seems to detect these and build the dependency graph to CSS files directly.

So in my TSX files, I simply write `import * as styles from './test_button.css'`. When webpack runs, it detects this depen

[2016-07-03 03:49] texastoland commented on #2
I neglected to mention I'm using nightly to output ES6 modules for tree shaking.

[2016-07-03 19:11] timse commented on #2
does this refer to the loader or the plugin :) @athyuttamre ?

[2016-07-03 19:56] athyuttamre commented on #2
The loader!

On Sun, Jul 3, 2016 at 12:11 PM -0700, "timse" <notifications@github.com> wrote:

Hmm, I don't seem to have to retype imports at all.

If you use TypeScript with --target es5 --module commonjs, then TypeScript resolves the ES6 module imports into standard require imports. webpack seems to detect these and build the dependency graph to CSS files directly.

So in my TSX files, I simply

[2016-07-17 15:15] AlexGalays commented on #8
That is indeed surprising.

The example invokes typed-css-modules immediately followed by tsc. That will often fail won't it ?

[2016-07-19 06:58] athyuttamre commented on #8
@AlexGalays that's correct. What's happening is:

- Webpack reads the filesystem, and makes an in memory cache of the changed files.
- typed-css-modules-loader uses this cache and generates the .d.ts files.
- tsc uses this cache and compiles the TypeScript files. At this point the new .d.ts files are not in the cache, so tsc doesn't recognize them and throws errors.

The next time webpack runs, it

[2016-07-19 06:58] #8 closed

[2016-07-19 08:45] AlexGalays commented on #8
@athyuttamre  Thanks for the loader lead.
The other discussion is a bit confusing. Do you advocate the plugin or the loader (I assume the loader, which I too would prefer)
Is there an npm package with a fully working loader?

Cheers

Cheers

[2016-07-22 14:04] AlexGalays commented on #2
Tried that loader, it kind of works... But webpack no longer recompiles css files when updating them in watch mode.

[2016-07-23 09:21] athyuttamre commented on #2
@AlexGalays yep! That tripped me up for a bit, but you're right, you need to reference the React component.

[2016-07-23 21:25] testerez opened #9 "Cannot find module 'gaze'"
I'm just trying to run the example with `cd example && npm i && npm start` but I'm getting this error:
[code]

I tried after `npm i gaze`, same error...

Using npm 3.8.5 and node v4.4.2

[2016-07-24 03:26] Quramy commented on #9
Please execute `npm i` at the `typed-css-modules` dir.

[2016-07-24 04:07] testerez commented on #9
I worked, thanks!

[2016-07-24 14:32] #9 closed

[2016-07-29 09:00] athyuttamre opened #10 "Expose errors when parsing CSS"
Right now the module silently fails with the `.create` Promise not returning when there are errors. When used with webpack this holds up the build process because webpack waits for the Promise to return before moving on to other steps.

Could you expose any errors through the API please?

[2016-07-29 10:11] Quramy commented on #10
@athyuttamre .

Sorry, it's a bug... I'll fix it.

[2016-07-29 10:41] athyuttamre commented on #10
Thank you! Could you also take a look at #7 please?

[2016-07-29 10:46] Quramy commented on #7
They are transient dependencies. My module depends on only the following modules:

[code]

How do I fix it ?

[2016-08-07 04:05] athyuttamre commented on #7
Sorry for the late reply here. All of these can be fixed by updating `gaze` to 1.1.1. Could you fix that and publish an update please? Thanks!

[2016-08-07 09:20] avanderhoorn opened #11 "tslint: file should end with a newline"
With the linting rules that we have setup, tslint wants us to end things with a newline. Any chance a config option could be added for those who need/want to end things with a newline?

[2016-08-08 00:49] Quramy commented on #7
@athyuttamre Thanks, I'll fix it :)

[2016-08-08 01:06] Quramy commented on #11
Hi @avanderhoorn . I add `os.EOL` when writing .d.ts files(see the above commit). Please check out it.

[2016-08-10 16:05] avanderhoorn commented on #11
Works great. Huge thanks!!!

[2016-08-10 16:05] #11 closed

[2016-08-14 06:44] #10 closed

[2016-08-14 06:44] #7 closed

[2016-09-22 14:36] AlexGalays commented on #8
is there no way to create the .d.ts files around the same time the JS bundle is rewritten ? As it stands, my app is recompiled twice for every change so I reverted to untyped css modules for now.

[2016-09-23 01:03] athyuttamre commented on #8
That's our experience too. There is an emitFile API in the Webpack loader docs, but I never got it to work. Perhaps someone with more experience could look into it.

[2016-09-23 10:00] timse commented on #2
Just as the plugin was mentioned here, i deprecated it in favor of a loader approach: https://github.com/Jimdo/typings-for-css-modules-loader

again the reasoning behind not using typed-css-modules for me is to be able to have things like sass etc. in case that solves anyones problems :)

[2016-09-23 14:10] AlexGalays commented on #2
@timse  Cool! Does that loader end up generating/updating the styles' d.ts files in the same cycle as webpack compile the app, thus resulting in only one bundle file write ?

[2016-09-23 15:25] timse commented on #2
If you mean if it triggers a second webpack building then no, this doesn't solve that.

It is kind of impossible to achieve this, the only way to make webpack aware of the fact that a loader/plugin is creating a new file will not write to disk but only into webpacks `memory fs`, but typescript is not able to access that, thus its not possible to get the typings.

I have no idea if I have overseen

[2016-09-25 15:25] gilamran opened #12 "Auto convert kebab-case to camelCase"
css module accepts kebab-case classes, and converts them to camelCase classes, for the same reason that javascript does not accept kebab-case variable.
You can, and should use: [https://www.npmjs.com/package/camelcase](https://www.npmjs.com/package/camelcase)

My suggestion is to auto-convert kebab-case classes to camelCase variables in the d.ts

for example:

[code]

Should be converted to:

[cod

[2016-09-25 15:43] Quramy commented on #12
Hi. typed-css-modules only generates `.css.d.ts` files. It doesn't convert CSS modules .css files.
If you want camelized token, I think you should also convert token in your .css at bundling your module.

[code]
I'm not familiar with css-loader or css-modulesify 's option.
Do you know some options of module bundler plugin to covert camel-case from kebab-case ?

[2016-09-25 15:58] gilamran commented on #12
You can pass the query parameter camelCase to the loader: https://github.com/webpack/css-loader#camel-case

[2016-09-25 16:00] Quramy commented on #12
Thanks for your reply, it's great! Ok I'll implement this feature.

[2016-09-25 16:42] Quramy commented on #12
@gilamran. I've implemented this feature and release it(v0.1.13).
To camelize you set `-c` or `--camelCase` option. Please check out it!

[2016-09-27 17:55] #12 closed

[2016-10-18 03:04] Axure opened #14 "Less support?"
Does it support less, or how can it be modified to?

[2016-10-20 17:45] Quramy commented on #14
@Axure Sorry for my late reply. typed-css-modules does not have any CSS-preprocessors. It only parses CSS Modules' tokens and convert them to .d.ts files.

But you can pass through pre-processed CSS files with `create(filepath, contents)` method. I've implemented this method for some Sass users. Please see #5 for details.

[2016-10-27 23:03] mohsen1 commented on #2
Can we solve this issue by declaring a global matcher module that was added TS 2.0?

[code]

If in your code you import a CSS file with relative path, TypeScript will  try finding that file first and if it fails the global matcher will be used.

[2016-10-28 05:22] athyuttamre commented on #2
@mohsen1, this resolves the initial errors, but still triggers a second Webpack build due to the creation of new files.

[2016-11-10 20:34] mxmind opened #16 "Possibility to inline styles"
Is it possible to inline class rule as style property of react component?

[2016-11-11 01:14] Quramy commented on #16
This tool is designed for CSS Modules not React(and any specific template engines).

[2016-11-14 16:51] ryandrewjohnson commented on #2
Although this isn't really a great solve it does get around the initial error that is thrown on initial webpack build. I added an npm `prestart` command that runs `tcm` on sass files in my case.

In my package.json I have:
[code]

This ensures that the initial `*.d.ts` files are created before the webpack build begins.

[2016-12-14 16:07] linuxonrails opened #18 "npm fail with: cd example && npm i"
[code]

[2016-12-15 21:58] cescoferraro opened #19 "webpack2 problems"
Thanks for the library!

### Originally posted https://github.com/olegstepura/typed-css-modules-loader/issues/10

Stack
[code]

preloader
[code]

[2017-01-19 01:21] scriby commented on #19
Correct me if I'm wrong, but I don't think typed-css-modules is a webpack loader. I think you're going to have to write some glue code to connect the webpack loader interface to typed-css-modules.

[2017-01-23 21:55] raptoria opened #20 "Can't find Typed CSS module inside Test case (Karma-Webpack, Mocha, Enzyme, Chai)"
I have written the following test case:
[code]

Running Karma I receive the following error:

23 01 2017 16:46:18.489:INFO [launcher]: Starting browser Chrome
23 01 2017 16:46:19.353:INFO [Chrome 55.0.2883 (Mac OS X 10.11.4)]: Connected on socket 4K2ul5zXPP_-1g5hAAAA with id 52768413
Chrome 55.0.2883 (Mac OS X 10.11.4) ERROR
  Uncaught Error: Cannot find module "./FileMenu.css"
  at test/component

[2017-01-23 23:21] raptoria commented on #20
just realized the error  was caused by using Extract Text Plugin in my webpack config (karma was borrowing from it)
changing the CSS from:

    { test: /\.css$/,
        loader: ExtractTextPlugin.extract('style', 'css?modules&importLoaders=1&localIdentName=[name]__[local]___[hash:base64:5]')
       },

to:

      { test: /\.css$/, loader: 'style!css-loader?modules&importLoaders=1&localIdentName=[n

[2017-01-25 10:01] tomdye opened #21 "Add dropExtension support"
We're using `css-modules` as part of the [dojo 2 widget system](https://github.com/dojo/widget-core) but we import our `.css` files without an extension such that webpack can resolve to the `.json` file instead when building.
It would be beneficial to add support to `typed-css-modules` to drop the input file extension for this purpose.

ie.
inputFilePath: `path/to/file.css`
outputFilePath: `path/t

[2017-01-25 10:03] tomdye commented on #21
Have raised a pull request with tests to address this: https://github.com/Quramy/typed-css-modules/pull/22

[2017-01-26 23:08] aaronbeall opened #23 "Preserve original names when using camelCase"
I noticed that `--camelCase` will omit the original names, even though css modules emits both. Can the generated typings match this behavior?

[2017-02-02 09:44] Eugen-Ask commented on #19
I have the same issue

[2017-02-02 09:59] Eugen-Ask commented on #19
I solved the problem: just changed `typed-css-modules` to `typed-css-modules-loader` like this
[code]

[2017-02-03 22:47] aaronbeall opened #24 "Definitions are created for nested global class names"
Given this CSS:

[code]

The generated typings correctly exclude `top` but incorrectly include `inner`.

[2017-02-06 17:06] #21 closed

[2017-02-08 16:18] AlexGalays commented on #8
Is this fixed by any chance? css modules are the last untyped bit in our whole app.

[2017-02-09 08:16] wildeyes opened #25 "bug: -p behaves weird"
I'm on Windows 10.

`tcm -p "**/*.css" -w` doesn't see any path, doesn't watch, doesn't do anything.

` tcm -p "client/**/*.css" -w` works.

[2017-02-09 08:18] wildeyes commented on #25
Perhaps switching from gaze to chokidar could fix this.

[2017-03-03 16:47] raptoria opened #26 "way to ignore css script?"
I made a npm run command,  "generate:css": "node_modules/.bin/tcm src",
the problem is for one of my CSS I'm including with my project I'm treating as a global import, importing it like so since I'm using TypeScript, import '!style!css!./Blotter.css';
Now when tcm src gets run, I get a bunch of warnings for this file

`[Warn] ag-flat is not valid TypeScript variable name.
[Warn] ag-root is not val

[2017-04-02 12:22] flying-sheep opened #27 "Ability to compile to a single default export"
[rollup-plugin-postcss](https://github.com/egoist/rollup-plugin-postcss) exports styles as default export.

i’d like to have this optionally output

[code]

(with `<basename>` being the camelized file name sans .css)

[2017-04-12 08:59] wildeyes opened #28 "Bug: Doesn't recognize div.CLASS_NAME as CLASS_NAME"
Selectors like `div.newsContainer` are not recognized by tcm, and don't get exported into the .d.ts.

[2017-04-18 07:07] mohsen1 opened #29 "Can this be a TypeScript plugin?"
I'm not familiar with TypeScript plugins as much as you are. You wrote [one](https://github.com/Quramy/ts-graphql-plugin) but I was wondering if this can become a TypeScript plugin that extends module resolution to CSS files?

[2017-04-18 18:16] Quramy commented on #29
It's interesting 😄

For example, [vue-ts-plugin](https://github.com/sandersn/vue-ts-plugin) allows to treat .vue files as TypeScript sources. Using the same technique, this idea might be realised.

[2017-04-20 04:00] Quramy commented on #29
@mohsen1 You may like https://github.com/HerringtonDarkholme/ts-css-plugin .

cc: thanks @HerringtonDarkholme !

[2017-05-18 08:09] ahstro commented on #25
+1 on weird behaviour. I couldn't get `tcm -p website/**/*.m.css` to work, but `tcm --pattern "website/**/*.m.css"` did. Not sure if it was `-p` vs `--pattern` or quotes vs no quotes, although I would assume the latter.

[2017-05-18 08:17] wildeyes commented on #25
Windows?

On Thu, 18 May 2017, 11:09 Anton Strömkvist, <notifications@github.com>
wrote:

--

Sincerely, Daniel.

[2017-05-18 08:23] ahstro commented on #25
Nope, zsh on macOS.

[2017-05-21 06:49] wildeyes commented on #25
Does it work on bash? perhaps zsh was interpreting the ** before they hit
tcm. a console.log in the right place could confirm this suspicion.

On Thu, May 18, 2017 at 11:23 AM, Anton Strömkvist <notifications@github.com

[2017-05-22 07:14] ahstro commented on #25
Still need the quotes around the glob for it to work.

[2017-05-25 22:02] warmbowski opened #30 "webpack build errors on @value line"
I have css-modules files that import constants from other files using @value. I get many build errors on these that might be good to suppress, as they should not come out in the declarations anyway. The declaration seems to build fine, but there are just so many errors produced.

[code]

[2017-05-25 22:11] warmbowski commented on #30
oops, my bad. I think that's the awesome-typescript-loader throwing that error. Sorry bout that.

[2017-05-25 22:11] #30 closed

[2017-05-30 12:26] pmyagkov opened #31 "Extended types in generated `.d.ts` files"
## Issue
Right now it's impossible to get a `styles` value using an indexer:

[code]
[code]

## Possible resolution:
To generate kind of extended styles typings:
[code]

[2017-05-31 13:45] pmyagkov commented on #31
@Quramy could you comment this please?

[2017-06-01 08:20] Quramy commented on #31
@pmyagkov It looks good 😄

[2017-06-02 06:27] Quramy commented on #31
@pmyagkov I'm attempting to reproduce your `error TS7017`, but I can't...

[code]

[code]

And my tsconfig.json is :

[code]

There is no compilation error. Would you tell me a reproducing repository?

[2017-06-05 22:17] pmyagkov commented on #31
I'll provide a minimal reproducible demo in a mean time.

[2017-08-07 12:57] cameron-martin opened #33 "Definitions for classes named "default" are not created"
If I have a CSS file like so

[code]

Then the d.ts files only contain definitions for `foo`.

[2017-08-07 13:05] cameron-martin commented on #19
In webpack 2, they stopped automatically adding the `-loader` suffix to loader names.

[2017-08-07 13:09] #19 closed

[2017-08-07 21:12] cameron-martin commented on #29
The [docs for Language Service Plugins](https://github.com/Microsoft/TypeScript/wiki/Writing-a-Language-Service-Plugin) suggests that this wouldn't work

So I have no idea how that vue one works. Will have a little dig around in the next few days and report my findings :)

[2017-08-07 22:12] mohsen1 commented on #29
GraphQL Plugin is editing only as well.

Follow this issue: https://github.com/Microsoft/TypeScript/issues/16607

[2017-08-07 23:51] mohsen1 commented on #29
Note that it's possible to have your own tsserver and tsc that does custom module resolution. By overloading `resolveModuleNames` it's possible to make compiler think a `.css` file resolve to an actual TypeScript file. This is what's happening [here](https://github.com/HerringtonDarkholme/ts-css-plugin/blob/master/index.ts#L23).

[2017-08-15 19:49] zunder opened #34 "Excluding pattern"
Is there any way to exclude files from the search? I tried:

[code]
But it does not seem to work.

[2017-08-15 20:03] zunder commented on #33
`default` is being a reserved word in Typescript. A constant can therefore not be named `export const default: string`, as this is not valid Typescript code.

[2017-08-16 00:15] Quramy commented on #34
https://github.com/isaacs/node-glob is used to expand glob patterns. The node-glob syntax is available.

[2017-08-16 01:06] zunder commented on #34
According to node-glob that pattern should work:
[code]
But it yields an error. I can not tell if it is an error on node-glob's side, but according to the docs, the above pattern should work.

[2017-08-16 02:03] Quramy commented on #34
It seems that the above pattern `src/**/*!(.global).less` matches files like `foo.global.less` with node-glob :thinking: . I don't know it's in spec or a bug, but I found `src/**/!(*.global).less` excludes global less files. And this pattern also works with `tcm -p`. Please try it :)

[code]

[2017-08-16 02:22] greenkeeper[bot] opened #36 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-08-16 16:56] zunder commented on #34
Starting tcm through the npm 5.0.0 yields following:
[code]
`tcm -p src/**/*.less` on the other hand works fine.

As a workaround I just use js and tcm API:
[code]

I guess that is good enough for my purposes. This issue can be closed if you don't want to investigate on the usage without API.

[2017-08-16 17:24] Quramy commented on #34
Did you escape command ?  The pattern includes meta character `(`.

Please try with double quotation :

[code]

[2017-08-16 18:20] zunder commented on #34
That one was to obvious to try out. 😬
Thank you for your help, works perfectly fine now!

[2017-08-16 18:20] #34 closed

[2017-08-25 15:04] avif commented on #29
I was looking for something similar and came across this:
https://www.npmjs.com/package/ts-css-modules

There's no git repository associated with this package and I couldn't get it to work but you could look at the package content after installing it and see the approach used seems very possible.

Also, the readme instructs to install vue-ts-plugin instead of ts-css-modules.

[2017-08-25 16:24] cameron-martin commented on #29
That was me starting to mess around with Typescript page service plugins (with the aim to create one for CSS modules). I didn't get very far though :(

[2017-10-08 12:25] tkshnwesper opened #37 "Any way to disable warnings in CLI?"
Would be helpful to me.

[2017-10-28 07:47] Mosho1 opened #38 "don't listen to chokidar add event"
I think the typical use case calls to listen only to `change`.

[2017-10-31 21:07] mxl opened #39 "Using Typescript 2.6 with empty css files"
For empty css file the following definitions are generated:
[code]
Such expressions [are forbidden](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#arbitrary-expressions-are-forbidden-in-export-assignments-in-ambient-contexts) in TypeScript 2.6.

[2017-11-01 03:14] #39 closed

[2017-11-02 05:27] Jack-Works opened #41 "Feature request: Quite mode"
A quite mode that does not print information to the terminal should be useful somewhere.

[2017-11-04 14:10] FDiskas opened #42 "typescript can't find types"
it happens to fast probably
[code]
If I run second time - it works.

[2017-11-04 15:37] FDiskas commented on #42
:stuck_out_tongue_winking_eye: my bad

[2017-11-04 15:37] #42 closed

[2017-11-14 16:35] Mosho1 commented on #38
@Quramy can you comment on this?

[2017-11-23 12:08] andrzey opened #43 "Add hover to a class"
What is the best way to add `.input:hover { -- some css code here --}`? Right now I have svolved it with creating an own `.inputHover:hover` class that I append to my React component trough classNames. Just wondering if there is a more elegant way to achieve this.

Thanks for this!

[2017-12-09 03:12] aaronbeall opened #44 "Only write file if it's changed"
Feature request: only write the output file if the generated content differs than what's currently in the file.

This might seem like a silly optimization, but in my case I'm trying to avoid an annoying [issue with webpack watch](https://github.com/webpack/watchpack/issues/25) where newly created files cause it to get stuck in a re-compile loop for 10 seconds. The suggested fix is to back time-sta

[2017-12-09 03:14] aaronbeall commented on #43
Neither this library or CSS Modules itself changes the behavior of `:hover` AFAIK...

[2017-12-22 01:20] zhenwenc commented on #4
Hi, recently I came across an issue with `@import` as follows, positing here as its discussing import/composes.

### parent.css
[code]

### child.css
[code]

The results after processing with `typed-css-modules` are:
### parent.css.d.ts
[code]

### child.css.d.ts
[code]

However, if I use `typed-css-modules` as a Webpack loader, because of I also configured `postcss-import`, then the `parent.css.d

[2018-01-29 14:12] ekawatani commented on #2
@ryandrewjohnson, The problem with that approach is that if the *.scss files contain SASS-specific syntax, tcm will not be able to compile them.

For example. if the *.scss files use the string interpolation syntax, `width: #{$some-height}px`, then tcm won't work.

[2018-04-24 14:21] TimLuo465 opened #46 "-w worked not very well in win7"
Reporting a Bug

#### What is the current behavior?
##### Dir
[code]
##### CLI
```tcm src -w -c -p components/user/index.css```

It's work well. "index.css.d.ts" created.

``` tcm src -w -c``` or ```tcm src -w -c /**/*.css```

no files created.

#### What is the expected behavior?
excu ```tcm src -w -c```. "index.css.d.ts" created.

#### Reason
path transfer happen in chokidar. The path sep should

[2018-04-24 15:02] #46 closed

[2018-06-15 08:10] dahei commented on #25
I am on Windows 10 and it's *not* working with *single quotes*. When I use double quotes or no quotes it runs fine.

[2018-07-02 06:40] bertanyaman opened #49 "Unknown word error occurs on double slashed comments"
Hello,

I am trying to parse my sass files but when I insert a comment with double slash or a [javascript file reference for intelisense](https://madskristensen.net/blog/the-story-behind-_referencesjs) in Visual Studio 2017 I am getting the error I mentioned below.

/* Comment that working well */
// This comment will couse an error

My main objective is use the reference paths actually. Comments

[2018-07-17 09:32] ManuSevenval opened #51 "How to use with parcel?"
hi,

thanks for your great plugin, it solves the problem of importing scss files into typescript components perfectly.

Is it possible to use your plugin with parceljs as well?

[2018-07-23 14:20] #37 closed

[2018-09-20 02:01] rodrigojcmello opened #52 "Accents in css"
Words with accets in css (like análise, concluído, ônibus) are ignored :(

(TypeScrip, JavaScript and CSS supports accents)

[2018-09-20 22:56] rodrigojcmello commented on #52
![captura de tela 2018-09-20 as 19 56 08](https://user-images.githubusercontent.com/5174526/45851064-4aafe280-bd0f-11e8-8ecf-85d4b31f3e5d.png)

[2018-09-21 00:02] #52 closed

[2018-10-25 09:49] chaaya commented on #51
I have a npm script which run this bash.

`package.json`
[code]

`dev.sh`
[code]

[2018-11-01 11:52] juanluispaz commented on #28
This error happens when I using the watch mode

Example:

Initially, the file component.css contains
[code]

If I run `tcm src -o src_gen -c -w`

The file component.css.d.ts is generated with:
[code]

But, if then I change the component.css file to:
[code]

An empty component.css.d.ts file is generated.

Even, if I change again the component.css file to:
[code]

An empty component.css.d.ts file is

[2019-01-03 17:53] fabb commented on #29
Here‘s something similar as a PostCSS plugin: https://github.com/ezavile/postcss-typescript-css

[2019-01-04 14:27] Lisanna opened #57 "css file imported as string?"
I install and run the module as expected, indeed the .d.ts file is successfully created.

My sample project structure is the following:
![ps](https://user-images.githubusercontent.com/8490781/50692135-303a1480-1033-11e9-9af4-90c2a288afe1.png)

In the src folder I have
![src](https://user-images.githubusercontent.com/8490781/50692188-58297800-1033-11e9-9a61-5d9ff7a29b88.png)

In feature-viewer.ts I

[2019-01-14 18:58] gdelmas commented on #41
this should be covered by #50

[2019-01-15 09:18] #57 closed

[2019-02-17 17:43] skovy commented on #5
I also recently ran into this but was hoping to still use it as a CLI. If you're looking to support SASS consider looking at [`typed-scss-modules`](https://www.npmjs.com/package/typed-scss-modules) as well 👍

[2019-02-17 17:44] skovy commented on #49
@bertanyaman I also recently ran into this issue. If you're looking to support SASS consider looking at [`typed-scss-modules`](https://www.npmjs.com/package/typed-scss-modules) as well 👍

[2019-03-07 22:40] pelotom opened #61 "TypeError: Cannot read property 'forEach' of undefined"
After upgrading from 0.3.7 to 0.4.0 I'm getting this error message for each file processed by `tcm`:

[code]

I've reproduced this in a fresh project with only the following file, `src/test.css`:

[code]

then running `tcm src` I get the error:

[code]

If more CSS files are added, an error is printed after processing each one.

[2019-03-08 01:08] Quramy commented on #61
:bow:

It'll be fixed via https://github.com/Quramy/typed-css-modules/pull/60.

I've published #60 as v0.4.2

[2019-03-08 01:20] pelotom commented on #61
Awesome, thanks for the fast turnaround!

[2019-03-08 01:20] #61 closed

[2019-03-11 22:25] DavidBabel opened #62 "Does it manage multiple directory in any way ?"
Hey there,

I like a lot this plugin, and i wonder if it's possible to pass multiples input directories in some way ?

For now i does something like :
[code]
But is there something like this followings i missed ?
[code]

[2019-03-15 15:16] bali182 opened #63 "0.4.2 Generates exports that are not picked up by vscode autocomplete"
I have been using 0.3.7 up until now, which generated typings like this:

[code]

Now I tried to update to 0.4.2 which generates typings like this:

[code]

Is there an option to generate the typings like the older version? The newer one's exports are not picked up by VSCode's autocomplete, which was the biggest benefit for me besides not messing up class names accidentally.

[2019-03-16 07:07] Quramy commented on #63
@naoto1m Do you have any idea?

[2019-03-16 09:03] nanot1m commented on #63
@bali182, can you provide some code example? and what typescript version are you using?

I could not reproduce :(
<img width="925" alt="Снимок экрана 2019-03-16 в 13 59 23" src="https://user-images.githubusercontent.com/9278185/54473022-fa17ce80-47f3-11e9-826d-7c2f0120e46c.png">

[2019-03-25 10:09] bali182 commented on #63
Here's a small demo of what I mean:
![repro](https://user-images.githubusercontent.com/3879181/54911268-ff58d580-4ee5-11e9-9cae-81aa7d65c7bb.gif)

[2019-04-02 01:37] filenwind opened #64 "Add EOL options with cli"
Currently, EOL option can't setting with cli.
It should be there.

[2019-04-02 02:59] filenwind opened #65 "EOL optoin not working"
I think because here still using os.EOL?

[https://github.com/Quramy/typed-css-modules/blob/master/src/dtsCreator.js#L52](https://github.com/Quramy/typed-css-modules/blob/master/src/dtsCreator.js#L52)

[2019-06-17 02:22] xuyangbill opened #70 "Cannot find module './DtsCreator'"
works well with 0.4.2,fail with 0.5.0

check the logs below
$ npm install -g typed-css-modules
...
$ ls /opt/node/lib/node_modules/typed-css-modules/lib/
DtsContent.d.ts
DtsContent.js
DtsCreator.d.ts
FileSystemLoader.d.ts
cli.d.ts
cli.js
dtsCreator.js
fileSystemLoader.js
index.d.ts
index.js
tokenValidator.js
$ export DONT_INSTALL_HOOKS=true
$ tcm --pattern ./packages/**/*.module.scss -c
module.js:

[2019-06-17 15:43] antross commented on #70
I ran into this too, but only when running on Linux.

It looks like a case-sensitivity issue with the filename that happened due to the rename of `dtsCreator.ts` to `DtsCreator.ts` in https://github.com/Quramy/typed-css-modules/commit/4c91ead0aa36fafa2940484640c9d3167482b2e0.

I'd guess the build was run on a case-insensitive OS with `dtsCreator.js` already existing so the output file didn't get r

[2019-06-18 02:36] Quramy commented on #70
Ok, I'll rename them using not camel cased names but kebab cased names.

[2019-06-18 02:46] Quramy commented on #70
@xuyangbill I've fixed it as #71 and published it as v0.5.1. Pls check it out 🙏

[2019-06-18 04:31] xuyangbill commented on #70
0.5.1 works,thanks

[2019-06-18 04:31] #70 closed

[2019-06-18 19:45] gdelmas commented on #70
hey @Quramy,

i had a look at the released npm packages and as @antross is suggesting the problem is not the name of the files, but that there were old files from previous builds in the lib directory. the solution here would be to change the build script, so that the build artifacts are always clean and reproducible. additionally setting up a .npmignore, so that things like coverage reports and ot

[2019-06-24 20:53] pyrocat101 opened #76 "The TypeScript typing is not compatible with ES import syntax"
In the distributed `.d.ts`, the `DtsCreator` is exported via `export =`, which is incompatible with the standard ES import syntax. The consumer of the library needs to import via TypeScript specific `import DtsCreator = require('typed-css-modules')`.

[2019-06-24 21:00] gdelmas commented on #76
this is covered in #75

https://github.com/Quramy/typed-css-modules/pull/75/files#diff-f41e9d04a45c83f3b6f6e630f10117feR1

[2019-06-24 21:03] pyrocat101 commented on #76
@gdelmas awesome :)

[2019-06-24 21:03] #76 closed

[2019-06-28 18:35] broomstick73 opened #77 "quoted identifers"
I'm using typed-css-modules-webpack-plugin in a couple projects and it's actually using typed-css-modules to create .css.d.ts files. The issue is that one of the projects produces non-quoted-identifers while the other project produces quoted identifiers and I haven't found what is telling it which way to create them. Is it a setting in a file somewhere?
Example one might create:
[code]
while the o

[2019-07-07 12:04] rfgamaral commented on #51
Hey guys, try this: https://github.com/rfgamaral/parcel-plugin-typings-for-css-modules

[2019-07-07 12:10] rfgamaral commented on #62
AFAIK, you should be able to do it like this:

[code]

[2019-07-07 12:13] rfgamaral commented on #77
Maybe not all projects use the same `typed-css-modules` version?

[2019-07-07 12:14] rfgamaral commented on #65
@filenwind Can you please update to the latest version and double check?

[2019-07-07 12:47] rfgamaral commented on #63
@bali182

That's because in the old format each class name was exported individually and TypeScript picked them up for **auto import**. As for **auto complete**, it's working fine for both formats as you can clearly see on your demo.

This could be somewhat solved by merging #66 (I've manually changed the `.d.ts` file for this demo):

![image](https://user-images.githubusercontent.com/96476/607685

[2019-07-07 14:25] broomstick73 commented on #77
Yes, this was exactly the issue.

[2019-07-07 14:25] #77 closed

[2019-07-08 13:16] bali182 commented on #63
@rfgamaral I might have chosen the wrong words when saying autocomplete is not working.

From a developers point of view these are the 2 options:

1.) (Old) Start typing a class name, press Ctrl+Space, and see the classname immediately popping up
2.) (New) Manually type out `import styles from '...'`, then on the imported object be able to access class names. When trying to import `styles` using s

[2019-07-08 13:37] rfgamaral commented on #63
What I'm trying to say is that your option 1 is more problematic than you think.

Imagine this:

**file1.css**

[code]

**file2.css**

[code]

**file3.css**

[code]

Now you start typing `myC...` and press Ctrl+Space... That will give you 3 `myClass` references from all those 3 different files, which is the correct one? You might not notice and assume it's the first one, press Return and auto-impo

[2019-07-08 16:11] bali182 commented on #63
Right, the issue you mention is absolutely valid, we ran into it a few times as well. However in my opinion it's something that can be easily avoided with a bit of care when naming classes, and I heavily prefer named exports.

My point is, that these are all viable solutions. But would you be open for giving the user of the library the option to choose the right one for the project?

I'm not famil

[2019-07-08 17:05] rfgamaral commented on #63
Yes, it can, but should you? From my point of view, that kinda defeats the purpose of CSS Modules. Why would you rather put extra effort into naming classes (one of two hardest things in programming 😆) instead of simply typing the name of the component you're working on followed by `.`?

Sure, but not everything is a best practice.

Sorry if I passed the wrong impression but I don't own this proje

[2019-07-22 09:15] DavidBabel opened #78 "Issues when generated empty files"
Typescript seems to complain with empty file. For example with a css file which only contains global declarations.

It may be great to just add a `/* empty */` comment to prevent errors in rollup builds :
![image](https://user-images.githubusercontent.com/5599375/61620847-f7315c80-ac71-11e9-939a-692712c31ff2.png)

Thanks ! Your plugin is amazing !

[2019-07-22 17:24] mohsen1 commented on #78
an `export {}` can fix this

[2019-07-22 17:46] DavidBabel commented on #78
typescript > 2.6 disallow that.
There is an issue about that in this repo

[2019-08-17 11:04] cameron-martin commented on #33
This could be fixed by using a different identifier for reserved words and renaming the export, e.g:

[code]

[2019-09-11 06:08] roopakv opened #80 "Publish new version with new yargs after #79"
Could you please publish a new version now that a new version of yaarhs is used?

this will help us stop depending on `mem@1.1.0` which has some security issues

[2019-09-11 11:37] Quramy commented on #80
Ok, I’ll publish it.

[2019-09-11 13:17] Quramy commented on #80
@roopakv I've published it as v0.6.1

[2019-09-11 13:17] #80 closed

[2019-09-12 18:51] pelotom opened #81 "YError: Invalid first argument. Expected boolean or string but received function."
I'm getting this error since upgrading from v0.6.0 to v0.6.1:

[code]

[2019-09-12 20:35] #81 closed, assigned to nobody

[2019-11-23 06:06] ghostsquad commented on #41
looks like #50 was merged. Can this issue be closed?

[2019-11-23 06:13] ghostsquad opened #85 "Integrate with webpack?"
I apologize if this is a dumb question, but I'm curious if the CLI could be integrated with webpack such that when I'm running the development server, and making changes, the `.css.d.ts` files get automatically regenerated?

Maybe just an example of how this can be done if it's already possible?

[2019-11-29 20:54] alexedwardjones opened #87 "Resolving @import"
Should @import rules be resolved and included in the type definitions?

**Directory Structure**
[code]

**dimensions.css**
[code]

**header.css**
[code]

### Expected Result
[code]

### Actual Result
[code]

[2019-12-03 07:35] #41 closed

[2020-02-10 01:31] dzbarsky commented on #85
Check out https://github.com/dropbox/typed-css-modules-webpack-plugin

[2020-03-22 09:56] zaripych opened #89 "Allowing to target individual files for `lint-staged` integration"
It is possible to potentially modify `.module.css` file without running the CLI tool and as a result - forget to update the `.d.ts` files and leave CSS files incompatible with the JavaScript code.

To solve that I've been playing with [lint-staged](https://github.com/okonet/lint-staged) and came-up with the following config:

[code]

It works really well, except it is not possible to run CLI tool

[2020-03-22 10:05] zaripych commented on #89
I should have looked at the code first. It appears that `yarn tcm --help` doesn't produce all the options in the output, so I thought it to be very limited in terms of options:
[code]

Apparently there `--pattern` option that I could set to the name of the file in directory. A little clumsy for my purpose, but it is exactly what I need.

If anybody interested, final config:
[code]

[2020-05-04 12:20] dacevedo12 opened #90 "yargs-parser vulnerability"
![image](https://user-images.githubusercontent.com/29694570/80965143-b1481e00-8dd7-11ea-9782-31ea64aa417a.png)

[2020-05-15 11:11] #90 closed

[2020-05-17 12:51] IgnusG opened #92 "The latest release changes the behaviour of file search"
The latest release probably changed some behaviour in internal dependencies.

This code example in the README:
https://github.com/Quramy/typed-css-modules/tree/v0.6.4#file-name-pattern
does not work anymore. It is required to specify the starting directory along any options:

`tcm . -p 'src/**/*.icss'` (note the dot and quotes - otherwise the shell does the expansion and only the first result will

[2020-05-17 14:11] #92 closed

[2020-06-02 08:46] ddanielbee opened #94 "Use default export instead of export = styles"
## Situation

I'm currently using `typed-css-modules` to generate `css-modules` types in a snowpack project that uses `@babel/plugin-transform-typescript` under the hood.

## Problem

When building, I get the following error:

[code]

## Solution

To solve this issue, we can change this line: https://github.com/Quramy/typed-css-modules/blob/3b9f9e55993b28f9946b2573053bf30a240d9731/src/dts-content.

[2020-09-30 21:32] dimensi commented on #31
I have same problem.
![изображение](https://user-images.githubusercontent.com/11390039/94741920-90cbc200-037d-11eb-8686-d0626da360e7.png)

[2020-10-22 04:28] #44 closed

[2020-11-05 12:06] shijistar opened #97 "Add an option to specify the indent of file generation"
Is it possible to add an options to specify the indent of generated `*.d.ts`? We want it be `4` at in our team.

[2020-11-05 15:33] Quramy commented on #97
I'm not plan to configure to output indent.

You can use formatting tool e.g. Prettier or https://github.com/vvakame/typescript-formatter .

[2020-11-05 15:33] #97 closed

[2020-12-12 18:06] drackp2m opened #98 "[FR] Include properties like @keyframes"
I use this library to type the classes and ids of my CSS files within a Preact project.

Everything was great until in my component I had to check if a CSS animation had finished.

I am currently using the class name written as a conventional string, but I liked knowing that the CSS attributes I was using in my component actually existed in the style files.

[2021-01-05 17:41] LucaColonnello opened #99 "Package maintenance"
Is this package still maintained?

I wanted to contribute but I can see many contributions to other issues with PRs from Jun 2020 not yet merged :)

If it's still maintained, I'd like to file a PR to solve the named exports issue, as it currently does not support named exports (although it used to in version 0.4).

[2021-01-06 03:29] Quramy commented on #99
Thanks, PRs are welcome.

Hmmm. I can't remember the reason for that change. 🤔

[2021-01-06 11:56] LucaColonnello commented on #99
Thank you for your reply, I think I have a PR already (almost) :D

Not sure why, but it's clear to me that we need both, as named exports changes the way you import the style, so there cannot be a unique way to make it work for both if we want to enable tree shaking :)

[2021-01-06 15:58] LucaColonnello commented on #99
I've opened the [PR now](https://github.com/Quramy/typed-css-modules/pull/100), will appreciate if someone could review and if ok merge it. Please do let me know if anything is wrong, I'll make time to correct it. 🙏

I also added tests 🥇

[2021-01-07 09:00] LucaColonnello commented on #99
@Quramy Thank you for publishing my changes so fast, appreciate I'm a new contributor 🙏

[2021-01-08 10:51] #99 closed

[2021-03-26 15:03] alirezamirian opened #103 "Including a banner in generated files"
I'd like to add a tiny banner which says "this file is generated blah blah". It would be nice to have an option for it. Of course I can use the api programmatically and do it myself, but using cli is much more convenient.

[2021-07-21 11:16] tgelu commented on #78
@DavidBabel  are you sure it's not `export default {}` that is not allowed in TS > 2.6? `export {}` seems acceptable.

[2021-08-25 03:05] ayaka-kms opened #150 "a vulnerability CVE-2021-23382 is introduced in typed-css-modules"
Hi, a vulnerability [CVE-2021-23382](https://snyk.io/vuln/SNYK-JS-POSTCSS-1255640) is introduced in typed-css-modules via:
●  typed-css-modules@0.7.0 ➔ css-modules-loader-core@1.1.0 ➔ postcss@6.0.1

**_css-modules-loader-core_** is a legacy package. It has not been maintained for about 4 years, and is not likely to be updated.
Is it possible to migrate css-modules-loader-core to other package to r

[2021-08-25 04:49] renovate[bot] opened #151 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency @types/jest to v27.0.1](../pull/147)
 - [ ] [chore(deps): update dependency @types/yargs to v15.0.14](../pull/114)
 - [ ] [chore(deps): update dependency husky to v7.0.2](../pull/149)

[2021-10-15 10:54] danielweck opened #163 "Support for @import only works with single quotes, not double quotes (regular expression match)"
https://github.com/Quramy/typed-css-modules/blob/f6b424a749e4eebdf74e3027820358c8e345f4ca/src/file-system-loader.ts#L80

My current workaround is to use single quotes, but I had to change my linter settings :)

Thank you for this useful library! 👍

[2021-10-19 20:49] renovate opened #166 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-10-19 21:22] #166 closed, assigned to nobody

[2022-02-03 14:57] am0wa opened #174 "Update peerDependency - to be compatible with npm 7+"
Although `node-sass` is deprecated, at least include `~` symbol to not restrict higher versions [https://semver.npmjs.com/](https://semver.npmjs.com/)

[code]

[2022-02-03 16:09] michaelkozakovsc opened #175 "IDs don't work"
While classes work great, IDs do not.

In the example bellow,  `Class or or exported property 'app' not found`

**component.jsx**
[code]

**component.module.css**
[code]

[2022-03-26 17:20] mizdra opened #177 "Feature Request: `--declarationMap` option"
## Problem

Currently, when I click on a property imported from CSS Modules from VSCode, it jumps to `.d.ts`. Normally, users expect to jump to `.css`, not to `.d.ts`. Therefore, this behavior is confusing to users.

It would be useful to be able to switch the jump destination to `.css`.

## Solution
Add the option `--declarationMap` to generate a source map for `.d.ts` which map back to the origi

[2022-07-08 18:30] hangtwenty opened #191 "Anybody have tips about how to use `*.css.d.ts` files in a separate `--outDir`"
Thank you for `typed-css-modules`, it's so helpful!

I tried using `--outDir` but I can't get TypeScript to grok the extra directory of `.d.ts` files, or at least, it doesn't seem to correlate them to the CSS module files. So, type-checking has worked for me when I don't use the `--outDir` option, but I haven't gotten it to work while using the `--outDir` option.

I did some research and tried a f

[2022-07-18 08:18] mizdra commented on #177
I would like to perform further static analysis based on the sorucemap created by this feature. For example, with this sourcemap, I can create stylelint rules to detect unused css rulesets from JavaScript.

However, this would require a major rewrite of the typed-css-modules code. So I decided to fork typed-css-modules. From now on, I will work with the following fork:

- https://github.com/mizdra

[2022-09-07 10:36] equinusocio opened #192 "Add a quiet option"
A `quiet` option can be useful in long pipes where you have many logs. This option would prevent the writing log in console.

[2022-10-07 07:58] amhoba2014 opened #193 "Please add to the README.md that we should use .module.css"
I have used the CRA default `.css` files and this library had no effect.
Switching to `.module.css` made it working.

So please add this note to the README.md thanks.

[2022-10-15 00:07] LasaleFamine commented on #87
+1 for resolving `@imports` correctly from the `node_modules` directory. Otherwise we will have half of the files with declarations and half without.

[2022-10-16 14:41] mizdra commented on #177
[`happy-css-modules`](https://github.com/mizdra/happy-css-modules) is almost stable. If you want this feature, try `happy-css-modules`!

[2022-10-30 09:27] mizdra commented on #177
@Quramy

I would like to share the development status of happy-css-modules so that you will not be surprised to learn about it at a later date.

happy-css-modules is forked from typed-css-modules as it was developed from the PoC of this issue. Therefore, it inherits all commits from typed-css-modules. That is why you can find the names of the contributors of typed-css-modules in the license or in

[2022-11-15 23:12] grbd commented on #193
I've noticed the convention of using .module.css is one used by the vite build system.
I think for webpack it's not mandatory. So it may depend on which build system is in use and how it's configured.
That being said it wouldn't hurt for something to be in the readme about it